{% extends 'base.html.twig' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
<div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequatur cum debitis earum natus ratione ut veniam? Blanditiis eum minus nam placeat qui quo rem reprehenderit sapiente totam veniam?
    </p>
    <p>
    Atque consequuntur, cum doloribus ipsa minima omnis quaerat repellendus. Ab aperiam architecto dignissimos dolore ducimus earum eligendi maiores, omnis placeat vel velit!
    </p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquid amet architecto at beatae consectetur delectus deleniti dignissimos dolorem eligendi enim esse fuga fugiat incidunt iusto labore laudantium magni natus, neque nesciunt nisi officia officiis optio perspiciatis possimus praesentium qui quo repellat sint, soluta unde, ut vel. Accusamus aspernatur at eius id nam quibusdam sunt temporibus voluptates. Beatae blanditiis deserunt distinctio dolorem doloribus ea ex exercitationem explicabo fuga hic inventore iusto magnam natus non quae recusandae, repellendus sunt veritatis.
    </p>
</div>
{% endblock %}

