{% extends 'base.html.twig' %}

{% block body %}
    <h3>Bonjour et bienvenue sur l'application Bucket-List</h3>

    <p>Utilisez le menu de navigation pour retrouver vos listes et les modifier !</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at aut, consequuntur cum dolores enim ex fuga fugiat, laboriosam natus nemo odit officia qui repellat rerum tempore, vel voluptatem?</p>
{% endblock %}

{% block title %}
    Acceuil
{% endblock %}
